@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(90deg,#703260,#8e404e,#cc9b9c,#dbc4c8);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
 width: 90%;
 display: flex;
 padding: 0 20px;
}

.slide{
  height: 80vh;
  border-radius: 20px;
  margin:10px ;
  cursor: pointer;
  color:  #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition:all 500ms ease-in-out;
}

.slide h3{
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  text-shadow: 2px 2px 4px #703260;
}

.slide.active{
  flex:20;
  
}

.slide.active h3{
  opacity: 1;
  transition: opasity 0.4 ease-in 0.5;
}